*{
    padding: 0;
    margin: 0;
  
}
body{

    background-color: #485696;
}
.foto img{
    height: 13rem;
    width: 18rem;   
    margin-top: 15%;
}
.foto{
    display: inline-block;
    background-color: #F9C784;
    position: absolute;
    margin-left: 1rem;
    padding: 5px;
    margin-top: 1%;
    height: 49%;
    width: 29.5rem;
    align-items: center;
    text-align: center;
}

.datos-personales{
display: inline-block;
    background-color: #F9C784;
    position: absolute;
    padding: 8px;
    margin-top: 23.5%;
    width: 29.2rem ;
    height: 45%;
    font-size: 100%;
    margin-left: 1rem;
}
.formacion-academica{
    text-transform: capitalize; 
    position: absolute;
    background-color: #FC7A1E;
    font-size: 110%;
    margin-left: 32.5rem;
    width: 61%;
    margin-top: 1%;
    height: 55% ;
}
.cursos{
    text-transform: capitalize; 
text-align: center;
display: inline-block;
position: absolute;
margin-left: 20%;
margin-top: 6rem

}
.formacion-academica h1{
    text-align: center;
}
.secundaria{
    text-transform: capitalize; 
    display: inline-block;
    position: absolute;
}
.preparatoria{
    text-transform: capitalize; 
    display: inline-block;
    position: absolute;
    margin-left: 30rem;
}
.pasatiempos{
    text-transform: capitalize; 
    background-color: #F24C00;
    margin-left: 38%;
    margin-top: 27%;
    display: inline-block;
}
.pasatiempos p{
 font-size:    4rem;
}
.pasatiempos ul{
    margin-left: 2rem;
    font-size: 1.3rem;
}
.habilidades{
    text-transform: capitalize; 
    background-color: #F24C00;
    margin-left: 65%;
    margin-top: -15%;
    display: inline-block;
}
.habilidades p{
 font-size:    4rem;
}
.habilidades ul{
    margin-left: 2rem;
    font-size: 1.3rem;
}
footer{
    text-transform: capitalize; 
    position: absolute;
    text-align: center;
    background-color: #E7E7E7;
    margin-left: .78%;
    width: 98.78%;
    height: 6%;
    margin-top: 4.28%;
}