*{
    padding: 0;
    margin: 0;

}
body{

    background-color: #485696;
}
.foto img{
    height: 13rem;
    width: 18rem;   
    margin-top: 10rem;
}
.foto{
    display: inline-block;
    background-color: #F9C784;
    position: absolute;
    margin-left: 1rem;
    padding: 5px;
    margin-top: 2rem;
    height: 50rem;
    width: 29.5rem;
    align-items: center;
    text-align: center;
}

.datos-personales{
display: inline-block;
    background-color: #F9C784;
    position: absolute;
    padding: 5px;
    margin-top: 30rem;
    height: 25rem;
    margin-bottom: 30rem;
    margin-left: 1rem;
}
.formacion-academica{
    position: absolute;
    background-color: #FC7A1E;
    font-size: 35px;
    margin-left: 32.5rem;
    width: 95rem;
    margin-top: 1rem;
    height: 25rem ;
}
.formacion-academica div{

display: inline-block;
position: absolute;
 margin-left:  65rem;;
margin-top: -18rem;
}
.formacion-academica h1{
    text-align: center;
}

footer{
    position: absolute;
    text-align: center;
    background-color: #E7E7E7;
    margin-left: .78rem;
    width: 126.5rem;
    height: 3rem;
    margin-top: 55rem;
}